@CHARSET "UTF-8";
body {
	width:auto;
}
#message h3 {
	width:90%;
	margin:10px auto;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px dashed #333;
	background:#eee;
}
.message-form{
	width: 80%;
	margin: 0 auto;
}
.input-yzm{
	width: calc(100% - 150px);
}
.form-group{
	position:relative;
}
.yzm-img{
	position: absolute;
	top: 0px;
	cursor: pointer;
	right: 15px;
}